<div ng-init="loadData();">
    <div class="col m4 l4 s4">
        <h3>{{Cliente | firstCharToUpperCase}}</h3>
        <h5>Crear Orden de Trabajo</h5>
    </div>
    <div class="divider" style="margin-bottom: 20px;"></div>
    <form class="form-odt">
        <div class="input-field">
            <input type="text" id="txtNombreProyecto" ng-model="NombreProyecto" class="validate">
            <label for="txtNombreProyecto">Nombre del Proyecto</label>
        </div>
        <div class="input-field">
            <input id="txtCliente" type="text" disabled value="{{Cliente | firstCharToUpperCase}}">
            <label for="txtCliente" class="active">Cliente</label>
        </div>
        <div class="input-field">
            <input disabled type="text" id="txtFecha" ng-model="Fecha">
            <label for="txtFecha" class="active">Fecha</label>
        </div>
        <div class="input-field" style="margin-bottom: 35px;">
            <select ng-model="Areas.selected">
                <option value="" disabled selected>Areas</option>
                <option ng-repeat="area in Areas.options" value="{{area | firstCharToLowerCase}}">{{area}}</option>
            </select>
        </div>
        <div class="input-field">
            <textarea id="txtadescProyecto" class="materialize-textarea" ng-model="Descripcion" class="validate"></textarea>
            <label for="txtadescProyecto">Descripcion del Proyecto</label>
        </div>
        <div class="input-field">
            <input type="text" id="txtResponsables" ng-keyup="complete();" autocomplete="off">
            <label for="txtResponsables">Responsables</label>
        </div>
        <div>
            <div class="chip" style="margin-bottom: 10px;">
                {{RespPrincipal.first_name}} {{RespPrincipal.last_name}}
            </div>
            <div class="chip" ng-repeat="responsable in SelectedResponsables" style="margin-bottom: 10px;">
                {{responsable.first_name}} {{responsable.last_name}}
                <i class="material-icons" ng-click="deleteResp(responsable.client_id);">close</i>
            </div>
        </div>
        <div class="input-field">
            <input type="date" class="datepicker validate" id="dtInicio" ng-model="dateInicio">
            <label for="dtInicio">Inicio</label>
        </div>
        <div class="input-field">
            <input type="date" class="datepicker validate" id="dtFin" ng-model="dateFin">
            <label for="dtFin">Fin</label>
        </div>

        <div class="file-field input-field">
            <div class="btn">
                <span>Seleccionar</span>
                <input type="file" ngf-select="onFileSelect($files)" multiple>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path" type="text" placeholder="Seleccionar archivos adjuntos." ng-model="filesSelected">
            </div>
        </div>
        <div>
            <div class="chip" ng-repeat="file in files" style="margin-bottom: 10px; margin-right: 5px;">
                {{file.name}}
                <i class="material-icons" ng-click="deleteFile(file.name);">close</i>
            </div>
        </div>
        <div class="input-field center">
            <a class="btn waves-effect waves-light">Guardar Borrador</a>
        </div>
        <div class="input-field center">
            <a class="btn waves-effect waves-light" ng-click="send();">Crear</a>
        </div>
    </form>
</div>
<style>
    .form-odt{
        max-width: 700px;
        margin: 20px auto;
    }

    .hide{
        display: none;
    }
</style>
<script>
    setTimeout(function () {
        $(document).ready(function() {
            $('select').material_select();
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year
                format: 'yyyy-mm-dd'
            });
        });

    },100);
</script>